<template>
    <div class="col-xs-12 col-sm-6">
        <button @click="resetServer">reset</button>
        <div v-if="chosenServer">
            <p>Status {{ chosenServer.id }} </p>
            <p> {{ chosenServer.status }} </p>
            <p>{{ chosenServer.desc }}</p>
        </div>
        <p v-else>Server Details are currently not updated </p>
    </div>
</template>

<script>
    import { eventBus } from '../../main.js'
    export default {
        props: {
            chosenServer: {
                id: Number,
                status: String,
                desc: String
            }
        },
        methods: {
            resetServer() {
                eventBus.$emit('resetServer')
            }
        }
    }
</script>

<style>

</style>
