<template>
    <div class="col-xs-12 col-sm-6">
        <ul class="list-group">
            <li
                    @click="chooseServer(i)"
                    class="list-group-item"

                    :class="{ active: i.active}"
                    v-for="i in servers"
                    :key="i.id">
                Server #{{ i.id }} {{i.status}}
            </li>
        </ul>
    </div>
</template>

<script>
    import { eventBus } from '../../main.js'

    export default {
        props: ['chosenServer'],
        data() {
            return {
                servers: [
                    {
                        id: 1,
                        status: 'normal',
                        desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed nulla ex. Praesent tincidunt leo sed quam consequat, eu placerat arcu tempus. Phasellus faucibus arcu non nisi dignissim, in tempor lorem venenatis. Phasellus facilisis ipsum eu quam sollicitudin malesuada. Duis blandit accumsan eros, non viverra metus.'
                    },
                    {
                        id: 2,
                        status: 'warning',
                        desc: 'Donec volutpat euismod tortor, ac iaculis dolor tempus eget. Mauris tristique et neque eget ultricies. '
                    },
                    {
                        id: 3,
                        status: 'urgent',
                        desc: 'Fusce dolor nibh, volutpat non diam vel, feugiat congue lectus. Aenean vel nisi a justo convallis feugiat eget non tellus. Sed et ante ac nisl molestie hendrerit nec eu metus.'
                    },
                    {
                        id: 4,
                        status: 'critical',
                        desc: 'Maecenas interdum varius dui at rhoncus. Vivamus blandit commodo risus vel luctus. Aenean volutpat viverra orci, quis viverra purus ultrices at. '
                    }
                ]
            }
        },
        methods: {
            chooseServer(server) {
                console.log(server)
                this.chosenServer = server

                for (let i = 0; i < this.servers.length; i++) {
                    let a = this.servers[i]
                    a.active = false
                }

                server.active = true
                this.$forceUpdate()

                this.$emit('serverWasChosen', this.chosenServer)
                // console.log(server)
            }
        },
        created() {
            // eventBus.$on('resetServer', () => { chooseServer(server[id] = 1) }
            // vm = this
            eventBus.$on('resetServer', () => {
                this.chooseServer(this.servers.find(x => x.id === 1))
            })
        }
    }
</script>

<style scoped>
    /*.active {*/
        /*background-color: fuchsia;*/
    /*}*/
</style>
